/*    #18606c    #09252a    */

.hello h1 {
    color: red;
}

.customr-color {
    /* background-color: #41547e; */
    background-color: white;
}

.sidenav {
    background-color: #484c7f;
}

.font-weight-bold {
    color: #09252a;
}

.logo-text-color {
    color: #ddd4d4;
}

.logo-text-color:hover {
    color: #F19828;
}

.text-white {
    color: #ddd4d4 !important;
}

.text-white:hover {
    color: #F19828 !important;
}