.building-cover-first {
    background-image: url('http://localhost:3000/assets/img/building/img2.jpg');
}

.building-cover-second {
    background-image: url('http://localhost:3000/assets/img/building/img4.png');
}

.building-name {
    margin-top: 0px;
}

.building-address {
    margin-bottom: 0px;
}

.card {
    box-shadow: 0 9px 15px 0 rgb(0 0 0 / 35%);
    margin: 10px 0 10px 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}